version: 2
enable-beta-ecosystems: true
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
  groups:
    golang-dependencies:
      patterns:
        - "github.com/golang*"
        - "google.golang.org*"
    k8s-dependencies:
      patterns:
        - "k8s.io*"
        - "sigs.k8s.io*" 
  labels:
    - "area/dependency"
    - "release-note-none"
    - "ok-to-test"
  open-pull-requests-limit: 10
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
      interval: "daily"
  labels:
    - "area/dependency"
    - "release-note-none"
    - "ok-to-test"
  open-pull-requests-limit: 10
